/* Base Styles */
:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 10rem;
    font-size: 2rem;
    font-family: "Open Sans, Arial, sans-serif";
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

.container {
    max-width: 100vw;
    flex-grow: 1;
    padding: 1rem auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.profile-image {
    float: left;
    background-size: cover;
    margin-right: 3rem;
}

.profile-image img {
    margin-right: 5rem;
    border-radius: 100%;
    border: 1rem solid mediumseagreen;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.profile-user-settings {
    display: flex;
    align-content: center;
    margin-bottom: 3rem;
}

.btn {
    font-size: 2rem;
    background: none;
    cursor: pointer;
}
/*boder top/bot marg wont change*/
.profile-edit-btn {
    padding: 0 2rem;
    margin-left: 2rem;
    align-items: center;
}

.profile-settings-btn {
    border: none;
}

.btn:active {
    outline: 1rem auto mediumseagreen;
}

.profile-stats ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0 0
}

.profile-bio {
    border-style: solid;
    margin-left: 35rem;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    padding: 1rem;
}

.profile-real-name {
    font-weight: bold
}

/*img gallery start*/



.gallery {
    margin: -1rem -1rem;
    border: 1px solid black;
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    justify-content: center;
    width: 50vw;
}

.gallery-item {
    align-self: center;
}

.gallery-image {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    position: relative;
}