/* Base Styles */
:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 10rem;
    font-size: 2rem;
    font-family: "Open Sans, Arial, sans-serif";
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

.container {
    max-width: 100rem;
    padding: 1rem auto;
    margin: 0 auto;
    display: flex;
    justify-items:center
}

.profile-image {
    float: left;
    background-size: cover;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 100%;
    border: 1rem solid mediumseagreen;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.profile-user-settings {
    display: flex;
    align-content: center;
    margin-bottom: 3rem;
}

.btn {
    font-size: 2rem;
    background: none;
    cursor: pointer;
}
/*boder top/bot marg wont change*/
.profile-edit-btn {
    padding: 0 2rem;
    margin-left: 2rem;
    align-items: center;
}

.profile-settings-btn {
    border: none;
}

.btn:active {
    outline: 1rem auto mediumseagreen;
}

.profile-stats ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.profile-bio {
    flex-wrap: nowrap;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    padding: 1rem;
}

